body {
    background-color:lightblue;
}

nav ul{
    background-color: blueviolet;
    list-style: none;
    display:flex;
}

nav ul li{
    padding: 10px 20px;
    margin: 20px;
    border: solid #AAA8E6 1px;
    
}

nav ul li a{
    color: #AAA8E6;
}