body {
    background-color:lightblue;
}

nav ul{
    padding:5px;
    background-color: blueviolet;
    list-style: none;
    display:flex;
    justify-content: space-between;
}

nav ul li{
    padding: 10px 20px;
    margin: 20px;
    background: pink;
    border: solid #AAA8E6 3px;
    border-radius: 5px;
    
}

nav ul li:hover{
    border: solid blue 3px;
    
}

nav ul li a{
    color: blue;
    text-decoration: none;
}

footer {
    font-size:10px;
    text-align: center;
}